body {

    font-family: 'Poppins', sans-serif;

    min-height: 100vh;

    margin: 0;

    overflow: hidden;

}


/* VIDEO */

video {

    position: fixed;

    top: 50%;
    left: 50%;

    width: 120%;
    height: 120%;

    object-fit: cover;

    transform: translate(-50%, -50%);

}


/* CAPA */

.capa {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(52,78,65,0.25);

}


/* CAJA GRANDE */

.contenedor {

    position: absolute;

    z-index: 10;

    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 90%;

    max-width: 1100px;

    height: 600px;

    display: flex;

    background: rgba(52,78,65,0.90);

    border-radius: 30px;

    overflow: hidden;

    box-shadow: 0px 10px 25px rgba(0,0,0,0.25);

}


/* IZQUIERDA */

.izquierda {

    width: 30%;

    padding: 25px;

    background: #344E41;

    overflow-y: auto;

}


.izquierda h2 {

    text-align: center;

    color: #DAD7CD;

}


/* BOTONES */

.boton-comentario {

    display: block;

    text-decoration: none;

    text-align: center;

    padding: 15px;

    margin-bottom: 12px;

    border-radius: 14px;

    background: #A3B18A;

    color: #344E41;

    font-weight: bold;

}


.boton-comentario:hover {

    background: #DAD7CD;

}


/* DERECHA */

.derecha {

    width: 70%;

    padding: 35px;

    overflow-y: auto;

}


.derecha h1 {

    text-align: center;

    color: #DAD7CD;

}


/* MENSAJE CLIENTE */

.mensaje-cliente {

    max-width: 75%;

    padding: 20px;

    border-radius: 20px;

    background: #DAD7CD;

    color: #344E41;

    margin-bottom: 20px;

}


.mensaje-cliente h3 {

    margin-top: 0;

}


/* RESPUESTAS */

.titulo-respuesta {

    color: #DAD7CD;

}


.respuesta {

    max-width: 70%;

    margin-left: auto;

    margin-bottom: 15px;

    padding: 15px;

    border-radius: 20px;

    background: #A3B18A;

    color: #344E41;

}


.respuesta p {

    margin-bottom: 0;

}


/* CAJA RESPUESTA */

textarea {

    width: 100%;

    height: 100px;

    box-sizing: border-box;

    padding: 15px;

    border: none;

    border-radius: 15px;

    resize: none;

    background: rgba(255,255,255,0.12);

    color: white;

    font-family: 'Poppins', sans-serif;

}


textarea::placeholder {

    color: rgba(255,255,255,0.7);

}


/* BOTON */

.boton-enviar {

    margin-top: 12px;

    padding: 13px 25px;

    border: none;

    border-radius: 14px;

    background: #A3B18A;

    color: #344E41;

    font-weight: bold;

    cursor: pointer;

}


.boton-enviar:hover {

    background: #DAD7CD;

}
