*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Raleway',sans-serif;
  background:#f5f7f2;
  color:#1d3021;
 
 
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: auto 400px 400px auto 550px auto auto 400px 500px;

    grid-template-areas:
    "extra"
    "a"
    "b"
    "h"
    "c"
    "d"
    "e"
    "f"
    "footer";

    margin-top:75px;
}


a{
  text-decoration: none;
  color: black;
}



/*Conocenos*/
.extra{
    height:500px;

    background:
    linear-gradient(
        rgba(29,48,33,.55),
        rgba(29,48,33,.55)
    ),
   url('../imagenes/fondooo.png');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.overlay{
    max-width:900px;
    padding:20px;
}

.extra p{
    color:#afc194;

    font-size:15px;
    font-weight:700;

    letter-spacing:5px;

    margin-bottom:20px;
}

.extra h1 {
    color: white;
    font-size: 4.8rem;
    line-height: 1.1;
    margin-bottom: 20px;



}


.extra h3{
    color:#f0f0f0;

    font-size:1.2rem;

    font-weight:400;

    line-height:1.7;
}
/* Historia */
.historia{
    grid-area: a;
    background-color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 80px 100px;
    gap: 50px;

}

.texto{
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.texto h1{
    font-size: 3rem;
    color: #1d3021;
    position: relative;
}

.texto h1::after{
    content: "";
    width: 80px;
    height: 4px;
    background-color: #afc194;
    display: block;
    margin-top: 10px;
    border-radius: 20px;
}

.texto p{
    font-size: 1.1rem;
    line-height: 1.8;
    color: #4a4a4a;
}

.historia img{
    width: 500px;
    height: 320px;

    object-fit: cover;

    border-radius: 25px;

    box-shadow: 0 15px 35px rgba(0,0,0,.15);

    transition: .4s ease;
}

.historia img:hover{
    transform: scale(1.03);
}
/*Mision y vision*/
.misionvision{
    grid-area: b;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    padding: 60px 80px;
}

.misionvision section{
    width: 600px;
    min-height: 250px;

    background-color: #ffffff;

    border: 1px solid #e4eadb;
    border-radius: 25px;

    padding: 35px;

    box-shadow: 0 4px 15px rgba(0,0,0,.05);

    transition: all .4s ease;
}

.misionvision section:hover{
    transform: translateY(-6px);

    border-color: #afc194;

    box-shadow: 0 12px 25px rgba(0,0,0,.10);
}

.titulo{
    display: flex;
    align-items: center;
    gap: 15px;

    margin-bottom: 20px;
}

.titulo img{
    width: 45px;
    height: 45px;

    padding: 8px;

    background-color: #afc194;

    border-radius: 50%;
}

.titulo h1{
    font-size: 2rem;
    color: #1d3021;
}

.misionvision p{
    font-size: 1.05rem;
    line-height: 1.8;
    color: #4a4a4a;
    text-align: justify;
}
/*Pq Vakerys */
.h{
    grid-area: h;
    background-color: #1d3021;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 80px 50px;
    text-align: center;
}

.titulo-h{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 60px;
}

.titulo-h h1{
    font-size: 48px;
    color: white;
    margin-bottom: 12px;
}

.titulo-h p{
    font-size: 18px;
    color: #d7e3cf;
}

.contenedor-hh{
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 40px;

    flex-wrap: wrap;
}

.hh{
    width: 320px;
    min-height: 280px;

    background-color: #3e6546;

    border: 1px solid rgba(255,255,255,.08);
    border-radius: 25px;

    padding: 35px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all .35s ease;

    box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.hh:hover{
    transform: translateY(-8px);

    background-color: #4d7a57;

    box-shadow: 0 15px 30px rgba(0,0,0,.25);
}

.ih{
    width: 80px;
    height: 80px;

    padding: 15px;

    background-color: #689771;

    border-radius: 50%;

    object-fit: contain;
}

.hh h2{
    margin-top: 20px;
    margin-bottom: 15px;

    font-size: 28px;
    color: white;
}

.hh p{
    font-size: 16px;
    line-height: 1.7;

    color: #e8efe2;
}
/*imagen*/
.img{
    grid-area: c;
    background-color: #ffffff;
    align-items: center;
    margin: 50px 80px;

}
.img img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow:0 15px 30px rgba(0,0,0,.25);
}

/*Lo que nos define*/
.def{
    grid-area:d;
    background:#fff;

    padding:70px 8%;

    display:flex;
    flex-direction:column;
    align-items:center;
}

.tex{
    text-align:center;
    margin-bottom:50px;
}

.tex p{
    display:inline-block;

    background:rgba(29,48,33,.9);
    color:#c8daca;

    padding:8px 18px;

    border-radius:30px;

    font-size:15px;
    font-weight:600;

    margin-bottom:12px;
}

.tex h2{
    color:#1d3021;
    font-size:42px;
    margin:0;
}

.cuadros{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    
}

.cc{
    width:260px;
    min-height:190px;

    background:white;

    border:1px solid #dde6d7;
    border-top:5px solid #afc194;

    border-radius:20px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:25px;

    transition:.3s ease;
     box-shadow: 0 15px 35px rgba(0,0,0,.15);
}

.cc:hover{
    transform:translateY(-8px);

    border-top-color:#1d3021;

    box-shadow:0 12px 25px rgba(0,0,0,.08);
}

.cc img{
    width:50px;
    height:50px;

    margin-bottom:15px;
}

.cc h3{
    color:#1d3021;

    font-size:22px;

    margin-bottom:10px;
}

.cc p{
    color:#666;

    font-size:14px;

    line-height:1.6;
}
/* Galeria */
.galeria{
    grid-area:e;
    background:#839b79;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding:80px 0 100px 0; 
}

.foto{
    position:sticky;
    top:100px;

    width:900px;
    height:550px;

    border-radius:30px;
    overflow:hidden;

    margin-bottom:80px; 

    box-shadow:0 20px 40px rgba(0,0,0,.35);
}

.foto:hover{
    transform:scale(1.02);
}

.foto img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}



.foto1{
    transform:rotate(-4deg);
    z-index:1;
}

.foto2{
    transform:rotate(3deg);
    z-index:2;
}

.foto3{
    transform:rotate(-2deg);
    z-index:3;
}

.foto4{
    transform:rotate(2deg);
    z-index:4;
}

.foto5{
    transform:rotate(-1deg);
    z-index:5;
}



@media(max-width:1000px){

    .foto{
        width:85%;
        height:450px;
    }

}

@media(max-width:700px){

    .foto{
        width:90%;
        height:300px;
        top:80px;
        margin-bottom:150px;
    }

}

/* Listo para probar */
.listoo{
 grid-area:f;
 margin: 30px;
}
.listo{
   
    
    background: #1d3021;
    border-radius: 40px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:50px 20px;

    color:white;
    box-shadow:0 20px 40px rgba(0,0,0,.35);
}

.la{
    font-size:3rem;
    margin-bottom:20px;
}

.listo h3{
    max-width:800px;

    font-size:1.2rem;
    font-weight:400;

    line-height:1.7;

    color:#e8efe2;

    margin-bottom:40px;
}

.botones{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.botones a{
    padding:15px 35px;

    border-radius:50px;

    font-weight:600;

    transition:.3s ease;
}

.botones a:first-child{
    background:#afc194;
    color:#1d3021;
}

.botones a:first-child:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}

.botones a:last-child{
    border:2px solid #afc194;
    color:white;
}

.botones a:last-child:hover{
    background:#afc194;
    color:#1d3021;
    transform:translateY(-4px);
}
